<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
      <h2>Ingreso de Cliente</h2>
      <form action="/" method="POST">

        <div class="form-input user">
          <label >Cédula:</label>
          <input type="text" name="cedula"/>
          <p id="error"></p>
        </div>

        <div class="form-input user">
            <label >Nombres:</label>
            <input type="text" name="nombres"/>
            <p id="error"></p>
        </div>

        <div class="form-input user">
            <label >Dirección:</label>
            <input type="text" name="direccion"/>
            <p id="error"></p>
        </div>

        <div class="form-input user">
            <label >telefono:</label>
            <input type="text" name="telefono"/>
            <p id="error"></p>
        </div>

        <div class="form-input user">
            <label >e-mail:</label>
            <input type="email" name="correo"/>
            <p id="error"></p>
        </div>

        <input type="submit" class="btn-login" value="Enviar" />
      </form>
    </div>
  </body>
</html>